* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
* h2 {
  font-size: 34px;
  text-align: center;
}
* p {
  font-size: 16px;
}

body {
  margin: 8px;
}

.page__header,
.page__main,
.page__footer {
  width: 100%;
  margin: 0 auto;
}

.page__header {
  grid-area: header;
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-right: 1;
  margin-top: 30px;
  width: 100%;
  padding: 20px 200px 20px 200px;
}
.page__header .nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.page__header .nav__link {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.page__header .nav__link-registrar {
  background-color: #e8505b;
  color: #ffffff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 7px;
}

.page__main .main__formulario {
  width: 100%;
  width: 100%;
  padding: 20px 200px 20px 200px;
}
.page__main .formulario__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.page__main .formulario {
  display: flex;
  flex-direction: column;
}
.page__main .formulario__datos {
  display: grid;
  background-color: #e8505b;
  color: #ffffff;
  padding: 50px;
}
.page__main .formulario__datos h2 {
  text-align: center;
  font-size: 34px;
  padding: 45px 0px 60px 0px;
}
.page__main .formulario__datos label {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.page__main .formulario__datos input {
  padding: 15px;
}
.page__main .formulario__datos .submit {
  background-color: #455a64;
  color: #ffffff;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 7px;
  font-size: 16px;
}
.page__main .formulario__imagen {
  display: flex;
  flex-direction: column-reverse;
}
.page__main .wave {
  margin-top: 50px;
  margin-bottom: -10px;
}
.page__main .main__pasos {
  background-color: #e8505b;
}
.page__main .main__pasos h2, .page__main .main__pasos p {
  text-align: center;
  text-align: center;
  color: #ffffff;
}
.page__main .main__pasos .pasos {
  display: flex;
  justify-content: center;
}
.page__main .main__pasos .pasos img {
  width: 400px;
  display: block;
  transition: all 300ms;
  position: relative;
}
.page__main .main__pasos .pasos img:hover {
  transform: scale(1.1) rotate(-8deg);
}
.page__main .main__testimoniales {
  padding-top: 30px;
}
.page__main .main__testimoniales h2 {
  text-align: center;
}
.page__main .main__testimoniales .testimonio__header {
  display: flex;
  padding: 20px;
  color: #ffffff;
  font-weight: 700;
}
.page__main .main__testimoniales .testimonio__header .testimonio_imagen > img {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.page__main .main__testimoniales .testimonio__header .testimonio__informacion {
  margin: 20px 0px 0 20px;
}
.page__main .main__testimoniales .testimonio__texto {
  color: #ffffff;
  padding-right: 30px;
  padding-left: 4rem;
  margin-bottom: 2cap;
}
.page__main .main__testimoniales .testimonio__texto p {
  font-size: 16px;
  line-height: 30px;
}
.page__main .main__testimoniales .container__testimonios {
  width: 100%;
  padding: 20px 200px 20px 200px;
  padding-bottom: 60px;
}
.page__main .main__testimoniales .testimonio {
  background-color: #455a64;
  border-radius: 1rem;
}
.page__main .main__testimoniales .testimonios {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.page__main .main__testimoniales .testimonio__1 {
  grid-column: 1/4;
  grid-row: 1/2;
}
.page__main .main__testimoniales .testimonio__2 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.page__main .main__testimoniales .testimonio__3 {
  grid-column: 5/5;
  grid-row: 1/3;
}
.page__main .main__testimoniales .testimonio__4 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.page__main .main__testimoniales .testimonio__5 {
  grid-column: 3/5;
  grid-row: 2/3;
}
.page__main .main__favoritos {
  background-color: #eceeef;
}
.page__main .main__favoritos h2 {
  text-align: center;
  font-size: 34px;
  padding: 45px 0px 20px 0px;
  color: #455a64;
}
.page__main .main__favoritos .container__favoritos {
  width: 100%;
  padding: 20px 200px 20px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1rem;
}
.page__main .main__favoritos .container__favoritos .favorito {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #ffffff;
  padding: 3rem;
  box-shadow: 0px 0px 2.6rem -0.8rem #99a4a9;
  border-radius: 1rem;
  grid-gap: 2rem;
}
.page__main .main__favoritos .container__favoritos .favorito .favorito__imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}
.page__main .main__favoritos .container__favoritos .favorito .favorito__content h3 {
  color: #e8505b;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 10px;
}
.page__main .main__favoritos .container__favoritos .favorito .favorito__content p {
  line-height: 24px;
  color: #455a64;
}
.page__main .main__repartidor h2 {
  color: #455a64;
  padding-top: 30px;
  padding-bottom: 10px;
}
.page__main .main__repartidor .container__repartidor {
  width: 100%;
  padding: 20px 200px 20px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}
.page__main .main__repartidor .container__repartidor .repartidor__imagen img {
  width: 100%;
}
.page__main .main__repartidor .container__repartidor .repartidor__texto {
  font-size: 20px;
  line-height: 33px;
  color: #455a64;
  padding-bottom: 30px;
}
.page__main .main__repartidor .container__repartidor .repartidor__texto .nav__link-informacion {
  background-color: #e8505b;
  color: #ffffff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 7px;
  text-decoration: none;
}

.page__footer {
  background-color: #455a64;
  color: #ffffff;
}
.page__footer h3 {
  font-size: 34px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page__footer p {
  line-height: 2rem;
  font-size: 16px;
}
.page__footer .container__footer {
  width: 100%;
  padding: 20px 200px 20px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.page__footer .container__footer li {
  text-decoration: none;
  list-style: none;
}
.page__footer .container__footer a {
  text-decoration: none;
  color: #ffffff;
  line-height: 33px;
}
.page__footer .footer__derechos {
  text-align: center;
  background-color: #e8505b;
  padding: 15px;
}/*# sourceMappingURL=style.css.map */